﻿@model List<UserRegistrationAssignment_V1.Models.User>

@{
    ViewBag.Title = "Details";
}

    <h2>Details</h2>
    <table class="table-class">
        <thead>
            <tr>
                <th class="table-class-th">First Name</th>
                <th class="table-class-th">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.Email</td>
                    <td>@Html.ActionLink("Details", "UserDetails", "Home", new { id = employee.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
