﻿@using UserRegistrationAssignment_V1.CustomHelper;
@model UserRegistrationAssignment_V1.ViewModels.UserDetailsView
@{
    ViewBag.Title = "UserDetails";
}
<div class="registration">
    <h2 class="user-heading">User Details</h2>
    <div class="user-data">
        <div class="user-details-span">
            <span class="user-image">
                @Html.Image(@Model.ImageUrl, @Model.AlternetText)
            </span>
        </div>
    </div>
    <div class="user-data">
        First Name:
        <span class="user-details-span">
            @Model.FirstName
        </span>
    </div>
    <div class="user-data">
        Last Name:
        <span class="user-details-span">
            @Model.LastName
        </span>
    </div>
    @*<div class="user-data">
        Email:
        <span class="user-details-span">
            @Model.Email
        </span>
    </div>*@
    <div class="user-data">
        Mobile:
        <span class="user-details-span">
            @Model.Mobile
        </span>
    </div>
    @foreach(var data in Model.UserContactList)
    {
        <div class="user-data">
            @data.UserContactData.Type
            <span class="user-details-span">
                @data.ContactNumber
            </span>
        </div>
    }
    <div class="user-data">
        Address:
        <span class="user-details-span">
            @Model.Address
        </span>
    </div>
</div>

