﻿@model UserRegistrationAssignment_V1.ViewModels.UserRegistration
@using UserRegistrationAssignment_V1.ViewModels
@{
    ViewBag.Title = "Register";
}
@if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
{
    if (ViewBag.message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.message
        </div>
    }
}
else
{
    using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { @class = "registration", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h3>Registration Form</h3>
        <span>Note:Fields marked with * are mandatory.</span>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter Your First Name" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.FirstName)</span>

        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter Your Last Name" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.LastName)</span>


        @Html.LabelFor(m => m.EmailId)
        @Html.TextBoxFor(m => m.EmailId, new { placeholder = "Enter Your Email" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.EmailId)</span>
        <span class="invalid-input">@ViewBag.invalidEmailmMessage</span>

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { placeholder = "Enter Your Password" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.Password)</span>

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Re-enter Your Password" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>


        @Html.LabelFor(m => m.Mobile)
        @Html.TextBoxFor(m => m.Mobile, new { placeholder = "Enter Your Mobile Number" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.Mobile)</span>

        <div>
            @Html.Label("Contacts")
        </div>
        <div id="CloneItem">
            @Html.DropDownListFor(m => m.Contact, new SelectList(Enum.GetValues(typeof(Contact))))
        </div>
        <div>
            @Html.TextBoxFor(m => m.ContactNumber)
        </div>
        <div id="AppendItem">
            <button type="button" id="AddContact">Add</button>
        </div>

        @Html.LabelFor(m => m.Address)
        @Html.TextAreaFor(m => m.Address, new { @placeholder = "Enter Your Address" })

        @Html.LabelFor(m => m.ImageUpload)
        @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })

        <div>
            <button type="submit" value="Submit" class="btn btn-outline-primary">SignUp</button>
        </div>
        <div class="registration">
            <span class="have-account">Have an account? @Html.ActionLink("Login", "UserLogin", "Login") here</span>
        </div>
    }
}
