﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Register.css" rel="stylesheet" />
    <link href="~/Content/UserDetails.css" rel="stylesheet" /> 
    <meta name="description" content="User Registration Form">
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/Script.js"></script>
    <script src="~/scripts/LoginScript.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <meta name="keywords" content="User Registration Form,Registration Form">
    <meta name="author" content="Purnendu Pattanaik">
</head>

<body>
    <header class="container-fluid">
        <div class="header-one">
            <h1 class="header-font"><em><strong>User </strong>Registration</em></h1>
        </div>
    </header>
    <nav>
        <span id="menu">Menu</span>
        <ul class="side-nav">
            <li class="active">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                <a href="#contact">Contact Us</a>
            </li>
            <li>
                <a href="#about_us">About Us</a>
            </li>
            <li>
                <a href="/Login/UserLogin" id="UserLogin">Login & SignUp</a>
            </li>
            <li>
                <a href="/Login/UserLogout" id="UserLogout">Logout</a>
            </li>
        </ul>
    </nav>
    <section class="selection-form">
        @RenderBody()

    </section>
    <div class="footer-div">
        <hr />
        <footer class="footer-register">
            <h5 class="container">
                &copy; Copyright
                <script>document.write(new Date().getFullYear());</script>
                all rights reserved
            </h5>
        </footer>
    </div>
</body>
</html>
