* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: red;
    font-weight: bold;
    background: black;
}
.selection-form
{
    width:100%;
}
.table-class-th{
    color:white;
    border-bottom:thick groove;
    border-bottom-color:ActiveBorder;
}
#menu {
    display: none;
}

header {
    color: white;
    height: 80%;
    background-image: linear-gradient(black,yellow);
    width: 100%;
    display: flex;
    padding: 1%;
}

.header-image {
    width: 50px;
    height: 50px;
    float: left;
}

.header-font{
    float: left;
}

nav {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:#1b2125;
}

.new-register {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 14px 26px;
    font-size: 17px;
}

    nav a:hover {
        background-color: red;
    }

.registration-login {
    width: 70%;
    margin: 0;
    padding: 0%;
    margin-left: 15%;
}
.registration {
    max-width: 37%;
    margin: auto;
    padding: 10px 20px;
}
.registration-form {
    max-width: 37%;
    float:right;
    padding: 10px 20px;
}
input[type="text"],
input[type="password"],
input[type="textarea"]
 {
    background: rgba(255,255,255,0.1);
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-size: 14px;
    outline: 0;
    padding: 8px;
    width: 90%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    font-style: normal;
    display: block;
    border-radius: 3px;
}

h3 {
    text-align: center;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #fff;
}

.login-form {
    width: 60%;
    float: right;
}

.image-class
{
    width: 40%;
    float: left;
}
label {
    display: block;
    margin: 12px 0;
    font-family: serif;
    font-weight: 600;
    color: #fff;
}

.required-input {
    color: red;
}
.footer-div
{
    position: relative;
}
.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

#loginButton {
    margin: 10% 30%;
}

.gender-class {
    font-weight: 300;
    display: inline;
    font-size: 0.8em;
    margin-left: 10%;
}
#Contact{
    padding: 5px;
    height: 32px;
    border-radius: 3px;
    width: 90%;
    margin-left: 5%;
}
select {
    padding: 5px;
    height: 32px;
    border-radius: 3px;
    width: 30%;
}
#Address
{

}
.subscribe {
    display: inline;
    font-weight: 700;
}

button {
    padding: 10px;
    color: #fff;
    background-color:#0bb34e ;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 30%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(225,225,225,0.1) inset;
    margin: 15px 15px;
}
.footer-register
{
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}
.footer-login
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}
.js-span {
    color: red;
}
#Address{
    width:90%;
    margin-left:5%;
}
#captchaQuestion {
    width: 30%;
    display: inline;
}

#captchaAnswer {
    width: 30%;
    display: inline;
}

.equals-to {
    font-size: 250%;
}

.reload {
    height: 60px;
    width: 60px;
}

#captchaButton {
    margin: 0;
    padding: 0;
    width: auto;
    border: 0;
}

.invalid-input {
    margin-left: 5%;
}
.have-account a
{
    color:green;
    text-decoration:none;
}


@media only screen and (max-width: 640px) {
    .registration {
        max-width: 100%;
    }
    .login-form {
        width: 100%;
   }
    .image-class
{
display:none;
}

    #menu {
        display: inline-block;
        z-index: 999;
        padding: 4%;
        float: right;
        color: #efefef;
        font-size: 1em;
    }

    ul {
        display: none;
    }

    nav:hover ul {
        display: block;
        background-color: red;
    }

    nav li {
        text-align: center;
        background-color: red;
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
    }
}
