﻿.user-heading
{
    color:white;
    text-align:center;
}
.user-data
{
    color:white;
    text-align:center;
}
.user-details-span
{
    color:#0bcbd6;
}
.user-image
{
    height: 70%;
    width:70%;
}