﻿@model UserRegistrationAssignment_V1.ViewModels.PasswordReset
@using UserRegistrationAssignment_V1.ViewModels
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "registration", role = "form" }))
{
        @Html.LabelFor(m => m.EmailId)
        @Html.TextBoxFor(m => m.EmailId, new { placeholder = "Enter Your Email" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.EmailId)</span>
        <span class="invalid-input">@ViewBag.invalidEmailmMessage</span>

        <div>
            <button type="submit" value="Submit" id="SendCodeButton">Get Reset Link</button>
        </div>
}

