﻿@model UserRegistrationAssignment_V1.ViewModels.UserLogin
@{
    ViewBag.Title = "Login";
}
<h3>Login</h3>

@using (Html.BeginForm("UserLogin", "Login", FormMethod.Post, new { @class = "registration", role = "form" }))
{
    @Html.LabelFor(m => m.EmailId)
    @Html.TextBoxFor(m => m.EmailId, new { @placeholder = "Enter Your Email" })
    <span class="invalid-input">@Html.ValidationMessageFor(m => m.EmailId)</span>

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Your Password" })
    <span class="invalid-input">@Html.ValidationMessageFor(m => m.Password)</span>
    <div>
        <button type="submit" value="Submit" id="LoginButton">Log in</button>
    </div>
}

<div class="registration">
    <span class="have-account">Don't have an account? @Html.ActionLink("  Register", "Register", "Registration") here</span>
</div>
<div class="registration">
    <span class="have-account">@Html.ActionLink("Forgot Password", "ForgotPassword", "Login")</span>
</div>